.DS_Store
**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
###BLOCKING BUNDLES FILES
##/bundles
/bundles/tomcat*
/bundles/data
/bundles/license
/bundles/tools
/bundles/osgi/core
/bundles/osgi/compat
/bundles/osgi/static
/bundles/osgi/target-platform
/bundles/osgi/test
/bundles/osgi/war/*.war
/bundles/osgi/modules/*.jar
/bundles/.liferay-home
####Heavy Files more than 100mb beyond GIT limit
/bundles/osgi/marketplace/**
.blade

/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results